{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; background-color: #F8F9FF; width: 550px; height: 500px; border-radius: 10px; font-family: 'Montserrat', sans-serif;">
    <h1 style="color: #0F90B5; font-weight: bold;">Cadastro</h1>
    <form method="POST" action="">
        {% csrf_token %}

        <label class="labelform"  for="first_name">Nome:</label>
        <input class="inputform" type="text" id="first_name" name="first_name" required>

        <label class="labelform" for="last_name">Sobrenome:</label>
        <input class="inputform" type="text" id="last_name" name="last_name" required>

        <label class="labelform" for="email">Email:</label>
        <input class="inputform" type="email" id="email" name="email" required>

        <label class="labelform" for="password">Senha:</label>
        <input class="inputform" type="password" id="password" name="password" required>

        <label class="labelform" for="birth_date">Data de Nascimento:</label>
        <input class="inputform" type="date" id="birth_date" name="birth_date" required>

        <label for="gender">Gênero:</label>
        <select id="gender" name="gender" required>
            <option value="">Selecione</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
        </select>

        <button type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}
