@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header {
    position: relative;
    background: linear-gradient(to right, #0092AC, #69E7FD);
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eulogo {
    max-height: 5vh;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.3s;
}

.nav-list li a:hover {
    opacity: 0.7;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button-container button {
    background-color: white;
    color: #2D8999;
    border: 2px solid #2D8999;
    border-radius: 30px;
    padding: 8px 60px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.button-container button span {
    margin-left: 0;
    transition: margin-left 0.3s;
}

.button-container button:hover {
    background-color: #2D8999;
    color: white;
}

.button-container button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-color: #2D8999;
    border-top-right-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.button-container button:hover:before {
    width: 35px;
}

.button-container button:hover span {
    margin-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: linear-gradient(to right, #0092AC, #69E7FD);
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.text{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 15%;
    top: 20%;
    width: 500px;
    height: 100px;
}
#logologin{
    margin-bottom: 50px;
}
.loginform {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15%;
    top: 25%;
    width: 500px;
    height: auto;  /* Ajusta a altura automaticamente conforme o conteúdo */
    padding: 20px;
    background-color: #F0F0F0;  /* Cor de fundo */
    border-radius: 10px;  /* Arredonda os cantos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra suave */
    align-items: center; /* Alinha os elementos ao centro horizontalmente */
    justify-content: center; /* Alinha os elementos ao centro verticalmente */
  }
  
  input {
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;  /* Faz o campo ocupar toda a largura da div */
  }
  
  button.entrar {
    margin-top: 40px;
    padding: 12px;
    background-color: white;  /* Cor do botão */
    color: #2D8999;
    font-size: 16px;
    border: #2D8999;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;  /* Faz o botão ocupar toda a largura da div */
    font-size: 14px;
    font-weight: bold;
  }
  
  button.entrar:hover {
    transition: background-color 0.3s, color 0.3s;
    color:white;
    background-color: #2D8999;  /* Cor do botão ao passar o mouse */
    
  }
  
  .esqueci-senha {
    text-align: center;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .esqueci-senha:hover {
    text-decoration: underline;
  }
  h1{
    font-size: 25px;
  }
  