{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/media/image1.png" alt="Imagem 1">
    </div>
    <div class="swiper-slide">
      <img src="/media/image2.png" alt="Imagem 2">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3000,
    },
  });
</script>
<div style="margin-top: 100px; width: 100%; height: 400px; background-color: #C8EAF4;">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-evenly; height: 100%; font-family: 'Montserrat';">
    <div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;;">
      <h1 style="font-size: 40px; color: #0F90B5;">Serviços</h1>
      <div class="lines">
        <div class="line" style="border-color: #0F90B5; width: 110px;"></div>
        <div style="width: 20px;"></div>
        <div class="line" style="border-color: white; width: 35px;"></div>
      </div>
    </div>
      <nav style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <div style="margin-bottom: 100px; display: flex; flex-direction: column; height: 150px; width: 1000px; justify-content: center;">
        <ul style="display: flex; flex-direction:row; align-items: center; justify-content: space-between;">
        <li>
          <div class="button-services" style="width: 250px; margin-bottom: 5px;">
              <button class="buttons">Agendar</button>
          </div>
        </li>        <li>
          <div class="button-services" style="width: 250px; margin-bottom: 5px;">
             <button class="buttons">Cancelar</button>
          </div>
        </li>        <li>
          <div class="button-services" style="width: 250px;;">
              <button class="buttons">Remarcar</button>
          </div>
          </div>
        </li>
      </ul>
    </div>
    
    </nav>
    
  </div>
</div>

{% endblock %}
